




    .main-ai-couch{
        width: 100%;
        height: 100vh;
        background-image: url("imeges/bgAicouch.png");
        background-size: cover;
        background-color: rgba(215, 250, 247, 0.178);
        padding: 15px;
       
        position: relative;
    }
    .main-ai-couch img{
        height: 100%;
        width: 100%;
        opacity: 0.2;
      
    
    }
    .new-cont-ai-couch{
    
    height: 100%;
    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(1px 3px 40px rgb(199, 120, 209));
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    }
    
    .new-cont-ai-couch img{
        height: 80px;
        width: 80px;
        opacity: 1;
    
    }
    .new-cont-ai-couch h1{
        font-size: 35px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 900;
    }
    .new-cont-ai-couch button{
    
        width: 240px;
        height: 44px;
       background-color: rgb(13, 122, 99);
        color: white;
        font-size: 19px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
    






@media (min-width:1024px) {
.main-ai-couch{
    width: 100%;
    height: 90vh;
    background-image: url("imeges/bgAicouch.png");
    background-size: cover;
    background-color: rgba(215, 250, 247, 0.178);
   
    position: relative;
}
.main-ai-couch img{
    height: 100%;
    width: 100%;
    opacity: 0.2;
  

}
.new-cont-ai-couch{

height: 450px;
width: 450px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
filter: drop-shadow(1px 3px 40px rgb(199, 120, 209));
display: flex;
flex-direction: column;
gap: 20px;
justify-content: center;
align-items: center;

text-align: center;
}

.new-cont-ai-couch img{
    height: 80px;
    width: 80px;
    opacity: 1;

}
.new-cont-ai-couch h1{
    font-size: 44px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
}
.new-cont-ai-couch button{

    width: 240px;
    height: 44px;
   background-color: rgb(13, 122, 99);
    color: white;
    font-size: 19px;
    border: none;
    border-radius: 10px;
}
}