.third-comp-cont{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-left: 20%;
    flex-wrap: wrap;
   
}

.third-comp-left-part{
    width: 400px;
    display: flex;
    flex-direction: column;

}

.third-comp-heading{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.guide-part{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.third-comp-right-part{
    width: 50%;
    height: 475px;
}

.right-part-img{
    width: 400px;
    height: 100%;
}

@media only screen and (max-width: 600px){
    .third-comp-cont{
        padding-left: 5%;
       
    }

    .third-comp-left-part{
        width: 100%;
    
    }

    .third-comp-heading{
        font-size: 28px;
    }

    .right-part-img{
        width: 300px;
    }
}